body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------Sidebar Styles------*/
.side-bar {
  width: 10%;
  height: 100%;
  background-color: #a994ce;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 30px auto;
  text-align: center;
}
.svg-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}
.side-bar-content form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logout-button,
.profile-button {
  width: 85%;
  padding: 12px;
  background-color: #ededed;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
}
.logout-button:hover,
.profile-button:hover {
  background-color: #d1d1d1;
}
