body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.side-bar {
  width: 10%;
  height: 100%;
  background-color: #a994ce;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.side-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-button {
  padding: 10px;
  background-color: #ededed;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
  margin: 5px;
}
.flow-button {
  padding: 10px;
  background-color: #ededed;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
  margin: 5px;
}
.main-content {
  width: 90%;
  height: 100%;
  background-color: #d7caec;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 30px auto;
  text-align: center;
}

.svg-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-svg {
  width: 60%;
  height: auto;
  display: block;
  margin: 0;
}
.side-bar-content {
  display: flex;
  flex-direction: column;
}

.user-profile p {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
}

.box {
  width: 1000px;
  height: 700px;
  background-color: #d9d9d9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-box {
  width: 35%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-box {
  width: 90%;
  height: 60%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats {
  width: 90%;
  height: 40%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats-title {
  width: 100%;
  height: 20%;
  margin: 5px;
  color: black;
  border-radius: 20px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.stats-text {
  width: 100%;
  height: 80%;
  margin: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.right-box {
  width: 55%;
  height: 86%;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ededed;
  border-radius: 20px;
}
.current-title {
  width: 100%;
  height: 10%;
  margin: 5px;
  color: black;
  border-radius: 20px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.book-photo {
  width: 100%;
  height: 70%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-name {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}
.right-box-title {
  width: 100%;
  height: 7%;
  margin: 5px;
  color: black;
  border-radius: 20px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.right-box-content {
  width: 70%;
  height: 85%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
}
.name-entry,
.author-entry,
.page-entry,
.category-entry,
.file-upload {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: larger;
}
.name-entry div,
.author-entry div,
.page-entry div,
.category-entry div,
.file-upload div {
  width: 120px;
  font-family: Arial, sans-serif;
}

input,
select {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.entry-button {
  background-color: #a994ce;
  width: 40%;
  height: 40px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
}
.file-upload-input {
  display: none;
}
.custom-file-upload {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #555;
  display: inline-block;
  transition: background-color 0.3s;
}
.custom-file-upload:hover {
  background-color: #f0f0f0;
  border-color: #a994ce;
}
