body {
  font-family: Arial, sans-serif;
  background-color: #a994ce;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #000000;
}

.register-box {
  background: #e0e0e0;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.register-box h2 {
  display: none;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  background-color: #ededed;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;

  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 2px #a994ce;
}

.register-button {
  margin-top: 25px;
  width: 100%;
  padding: 15px;
  background-color: #c3b1e1;
  color: #000000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
  background-color: #9c8fb6;
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #a994ce;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
